*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

:root{
    --text-color:#fff;
    --bg-color:#000;
    --main-color:#E74C3C ;

    --h1-font:6rem;
    --h2-font:3rem;
    --p-font:1rem;
}

body{
    color: var(--text-color);
    background: var(--bg-color);
}

.feature-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,auto));
    align-items: center;
    text-align: center;
    gap:3rem;

}
.row-img{
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom:20px ;
    border-radius:50% ;
    cursor: pointer;
}

.row-img img{
    width: 100%;
    display: block;
    transition: transform 0.7s;
}


.row-img img:hover{
    transform: scale(1.2);
}

.feature-content h4{
     font-size: 17px;
     font-weight: 500px;
     cursor: pointer;
     transition: all .50s ease;
}

.feature-content h4:hover{
    color:var(--main-color)
}

.details{
    display: flex;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 9rem;
}

.detail-img img{
    height: auto;
    border-radius: 10px;
}

.detail-text h5{
    font-size: 22px;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom:20px ;


}

.detail-text h2{
    font-size: var(--h2-font);
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 25px;
}

.detail-text p{
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 30px;
    color: #ffffffab;
    margin-bottom: 35px;


}

@media(max-width:1700px){
    header{
        padding: 18px 8%;
    }
    header.sticky{
       padding: 7px 8%;
    }
    section{
        padding: 50px 8% 40px;
    }
}

@media(max-width:1200px){
    header{
        padding: 14px 5%;
    }
    header.sticky{
       padding: 7px 8%;
    }
    section{
        padding: 45px 5% 35px;
    }
    
   
}
@media(max-width:1050px){
  .feature-content{
    gap:1.5rem;
  }
  .details{
    gap:3rem;
  }
}


@media(max-width:800px){
    .details{
        grid-template-columns: 1fr;
    }
}


